[submodule "External/Windows/NT10/DirectXTK12"]
	path = External/Windows/NT10/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "External/Windows/NT6_1/DirectXTK"]
	path = External/Windows/NT6_1/DirectXTK
	url = https://github.com/ggoedert/DirectXTK.git
[submodule "External/Windows/NT6_1/DirectXMath"]
	path = External/Windows/NT6_1/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
