# Visual Studio 2026
.vs/
x64/
Debug/
Release/
*.aps

# Code::Blocks
Bin/
External/Windows/NT6_1/microsoft.xaudio2.redist
*.depend
*.layout

# Sandbox automatic data
Sandbox/SandboxEditor.log
Sandbox/Data/

# Local data
scratch/
html/
User.settings